data/*
data/creditcard.csv
data/creditcardfraud.zip
.DS_Store
.ipynb_checkpoints/*
X_resampled.pkl
y_resampled.pkl
*.pkl
*.meta
*.index
temp_saved_model_1layer.ckpt.data-00000-of-00001
temp_saved_model_FCLayers.ckpt.data-00000-of-00001
checkpoint